.imalisch_license_type label {
	font-weight: 600;
}
.imalisch_toggle_license_details a[target="_blank"]:after,
.imalisch_external_link:after {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==');
	margin: 0 3px 0 5px;
}
.imalisch_toggle_license_details {
	padding: 5px 0 10px 25px;
}